Search: 
<input type="text" [ngModel]="search_text" (ngModelChange)="searchingSources($event)">
{{search_text}}
<br><br>
Add Source: <button (click)="AddSourceModal()">Add Source</button>
<ol>
    <li *ngFor="let source of sources">
    <a href="{{source.url}}">{{source.name}}</a><br>
    <button (click)="onDeleteSource(source.id)" >Delete</button>
    <!-- <button (click)="onEditSource(source.id,source)" class="btn btn-secondary">Edit</button> -->
    <button (click)="onEditSource(source)">Edit</button>
    <a href='fetching/{{source.id}}' type="button">Fetch</a>
    <button (click)="openDeleteModal(source.id)">Delete Modal</button>
    <button (click)="EditSourceModal(source)">Edit Modal</button>
    <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
    
    </li>
</ol>
<br><br><br><br>
<div *ngIf="display">
   <!-- <app-source-editing  #sourceEditSelector></app-source-editing> -->
   <app-source-editing  [particularSource]="source_data"></app-source-editing>
</div>

